Start
=== test/source/stress-test-templates/01.test ===
с
bo
#100000
a #N #C #P #S #D #R
#
m
v
--- Test --->
=== test/source/stress-test-templates/02.test ===
bo
#5
a #N #C #P #S #D #R
#
rp
m
bo
#100000
a #N #C #P #S #D #R
#
m
v
--- Test --->
=== test/source/stress-test-templates/03.test ===
v
--- Test --->
