Start
=== test/source/stressgen/sg01.test ===
1
2
#10
2
9
#
22
#10
9
#
7
--- Test --->
=== test/source/stressgen/sg02.test ===
1
2
#10
1 #i
4
#
5
#10
#i 2 #i
#
9
--- Test --->
=== test/source/stressgen/sg03.test ===
1
2
#10
3 #N #C
4 #N #N
#
5
#10
6 #N#C
#
9
--- Test --->
=== test/source/stressgen/sg04.test ===
1
#2
2
#3
3
#4
4
#
#
#
5
--- Test --->
